__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
venv/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
Thumbs.db
node_modules/
dist/
server/dist/
server/uploads/
client/dist/
